.card-main{
   
}

.cart-div-main-wrapper{
 display: flex;   
 justify-content: center;
 align-items: center;
}
.cart-div-main-wrapper div{

}
.cart-div-main-wrapper div button{
    background-color: #f91944;
    color: #ffffff;
    cursor: pointer;
}