.add-food form{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
   
    
}
.add-food form input,textarea{
    width: 40%;
    margin-bottom:10px ;
    /* border: none; */
    padding :5px;
    /* box-shadow: 5px 5px 5px; */
}